<form action="" method="post">
    <ol>
        <li *ngFor="let question of Questions">
            <span>{{question.question_name | titlecase}}</span>
            <ul id="list-style">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    >
                    <mat-radio-button class="example-radio-button" *ngFor="let answer of Answers" [value]="answer.answer_name">
                        {{answer.answer_name}}
                    </mat-radio-button>
                </mat-radio-group>
            </ul>
        
        </li>
    </ol>

</form>

<div>
    <router-outlet></router-outlet>
</div>
<br>














